*{
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5rem;
}

html,body{
    margin: 0;
    background-color: #EEEEEE;
}

body{
    padding: 10px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-auto-rows: 1fr;
    gap: 5px;
}

.grid-container img{
    width: 100%;
    height: 100%;
}

.grid-container img:nth-child(1){
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

@media screen and (max-width: 640px) {
    .grid-container{
        grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
    }
}